.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .nav-item .nav-link,
.navbar-light .nav-item:hover .nav-link {
  color: var(--proj-color);
}

:root {
  --proj-color: rgb(64, 83, 180);
  --accent-color: rgb(245, 188, 68);
}

body {
  color: var(--proj-color);
  font-size: 14pt;
}

#cover {
  width: 90vw;
}

h1 {
  font-weight: bold;
}

h2 {
  font-size: 18pt;
  font-weight: bold;
  font-style: italic;
  margin-top: 4rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

h3 {
  font-size: 16pt;
  font-weight: 600;
}

h4 {
  margin-top: 7rem;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
  font-size: 16pt;
  font-weight: 600;
}

h5 {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
  font-size: 16pt;
  font-weight: 600;
}

.content {
  max-width: 800px;
}

.role {
  border-radius: 15px;
  background-color: var(--proj-color);
  color: white;
  padding: 2rem;
  margin-top: 4rem;
}

.role ul {
  padding-left: 1em;
}

ul {
  padding-left: 2em;
}

.role li:not(:last-child) {
  margin-bottom: 1rem;
}

.picture {
  max-width: 95vw;
}

.btn {
  padding: 20px 15px;
  border-radius: 10px;
  color: var(--proj-color);
  border-color: var(--proj-color);
  background-color: transparent;
  font-weight: 600;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.btn:hover {
  color: white;
  background-color: var(--proj-color);
}

.num {
  font-size: 32pt;
  font-weight: bold;
  color: var(--accent-color);
  margin-right: 0.2em;
}

/* .summary {
  font-size: 12pt;
} */

.section {
  font-size: 24pt;
  font-weight: bold;
  font-style: italic;
}

strong, b {
  font-weight: 600;
}

#projects {
  background-color: rgb(243, 243, 243);
  font-weight: bold;
  margin-top: 5rem;
}

#projects .nav-link {
  color: rgb(181, 181, 181);
}

#projects .active {
  color: var(--primary-color);
}

#projects .nav-link:hover {
  color: var(--primary-color);
}

@media (max-width: 767.98px) {
  body {
    font-size: 11pt;
  }

  h2 {
    font-size: 16pt;
  }

  .section {
    font-size: 20pt;
  }

  h4 {
    font-size: 14pt;
  }
}