@font-face {
  font-family: "AvenirNext";
  src: url('fonts/avenir-next/AvenirNext-Regular-08.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url('fonts/avenir-next/AvenirNext-Italic-05.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNext";
  src: url('fonts/avenir-next/AvenirNext-Medium-06.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url('fonts/avenir-next/AvenirNext-MediumItalic-07.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNext";
  src: url('fonts/avenir-next/AvenirNext-DemiBold-03.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url('fonts/avenir-next/AvenirNext-DemiBoldItalic-04.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNext";
  src: url('fonts/avenir-next/AvenirNext-Bold-01.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url('fonts/avenir-next/AvenirNext-BoldItalic-02.ttf');
  font-weight: 700;
  font-style: italic;
}

:root {
  --primary-color: rgb(35, 82, 102);
  --secondary-color: rgb(255, 255, 255);
  --tertiary-color: rgb(178, 103, 59);
  --fourth-color: rgb(223, 168, 70);
}

body {
  background-color: white;
  color: var(--primary-color);
  font-family: AvenirNext;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .nav-item .nav-link,
.navbar-light .nav-item:hover .nav-link,
.navbar-light .nav-item:active .nav-link,
.navbar-light .nav-item:focus .nav-link {
  font-family: AvenirNext;
  font-weight: bold;
  font-size: 14pt;
}

.navbar-custom .navbar-toggler,
.navbar-custom .navbar-toggler:active,
.navbar-custom .navbar-toggler:focus,
.navbar-custom .navbar-toggler:visited {
  border: none;
  outline: none;
}

#footer {
  background-color: transparent;
  color: rgb(170, 170, 170);
  font-size: 16px;
}


.semibold {
  font-weight: 500;
}