#rect {
  width: 100%;
  height: 50%;
  background-color: var(--primary-color);
  position: absolute;
  z-index: -1;
  top: calc(0vh - var(--logo-offset));
  left: 0;
}

#circle {
  width: 100vw;
  height: 80vw;
  border-radius: 50%;
  background-color: var(--primary-color);
  position: absolute;
  z-index: 0;
  top: calc(50vh - var(--logo-offset));
  margin-top: -40vw;
  left: 50vw;
  margin-left: -50vw;
}

#logo2 {
  position: absolute;
  width: var(--logo-size);
  left: 50vw;
  margin-left: calc(-1*var(--logo-size) / 2);
  top: calc(50vh - var(--logo-offset));
  margin-top: calc(-1*var(--logo-size) / 2);
}

#dashes2 {
  position: absolute;
  width: var(--dashes-size);
  left: 50vw;
  margin-left: calc(-1*var(--dashes-size) / 2);
  top: calc(50vh - var(--logo-offset));
  margin-top: calc(-1*var(--dashes-size) / 2);

  -webkit-animation: spin 30s linear infinite;
  -moz-animation: spin 30s linear infinite;
  animation: spin 30s linear infinite;
}

/* Extra large devices (large desktops) */
:root {
  --logo-size: 40vw;
  --dashes-size: calc(var(--logo-size) + 5vw);
  --logo-offset: 0vh;
}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  :root {
    --logo-size: 50vw;
  }
  #circle {
    height: 90vw;
    margin-top: -45vw;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  :root {
    --logo-size: 50vw;
    --logo-offset: 10vh;
  }
  #circle {
    height: 100vw;
    margin-top: -50vw;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  :root {
    --logo-size: 50vw;
    --logo-offset: 25vh;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  :root {
    --logo-size: 50vw;
  }
}


/* @-moz-keyframes spin {
  100% {
    -moz-transform: rotate(-360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
} */