html {
    scroll-behavior: smooth;
}

.container {
    scroll-margin-top: 7rem;
}

body {
    background-color: white;
    overflow-x: hidden;
    font-family: AvenirNext;
}

#crate-proj {
    background-color: rgb(166, 185, 192);
    border-radius: 15px;
}

#welhome-proj {
    background-color: rgb(253, 245, 224);
    border-radius: 15px;
}


#cotton-proj {
    background-color: rgb(254, 248, 245);
    border-radius: 15px;
}

#marbles-proj {
    background-color: rgb(228, 228, 253);
    border-radius: 15px;
}

#crate-proj h2,
#crate-proj p {
    color: white;
}

#welhome-proj h2,
#welhome-proj p {
    color: rgb(84, 84, 124);
}

#cotton-proj h2,
#cotton-proj p {
    color: rgb(226, 108, 91);
}

#marbles-proj h2,
#marbles-proj p {
    color: rgb(73, 76, 177);
}

.img-proj {
    border-radius: 15px;
    overflow: hidden;
}

a:hover {
    text-decoration: none;
}

#honorable {
    height: 16rem;
    position: absolute;
    right: 1rem;
    top: -5rem;
}

#airbnb {
    height: 5rem;
    position: absolute;
    right: 2.5rem;
    bottom: 1.5rem;
}

#adobe1 {
    height: 3.7rem;
    position: absolute;
    right: 8rem;
    bottom: 2.15rem;
}

#ibm {
    height: 2rem;
    position: absolute;
    left: 2.5rem;
    bottom: 2.5rem;
}

#adobe2 {
    height: 3.5rem;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
}

#netflix {
    height: 3rem;
    position: absolute;
    left: 6rem;
    bottom: 2rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    font-weight: 500;
}

i {
    font-size: 2rem;
}

.navbar-custom {
    background-color: var(--primary-color);
    margin-bottom: -1px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .nav-item .nav-link,
.navbar-light .nav-item:hover .nav-link {
    color: var(--secondary-color);
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(252, 235, 211, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    margin-top: -5px;
    margin-right: -10px;
}

#greeting {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 25px;
    border: none;
}

#greeting .card-text {
    font-weight: 400;
}

#welhome,
#crate {
    background-color: transparent;
    color: var(--primary-color);
    border: none;
}

#welhome .card-body .card-title {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 24px;
}

#crate .card-body .card-title {
    color: var(--tertiary-color);
    font-weight: bold;
    font-size: 24px;
}

.project-link,
.project-link:hover {
    color: var(--tertiary-color);
}

#lopcuk {
    position: absolute;
    width: 100vw;
    top: calc(25vh - var(--logo-offset));
    z-index: -2;
}

#projects {
    margin-top: 65vh;
}

#greet_container {
    margin-top: 55vh;
}

#cratelop {
    position: absolute;
    top: 170vh;
    left: 73vw;
    width: 35vw;
    height: 80vw;
}

h1 {
    font-weight: bold;
}

.btn {
    padding: 12px 23px;
    border-radius: 10px;
    color: var(--primary-color);
    border-color: var(--primary-color);
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 600;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.btn:hover {
    color: white;
    background-color: var(--primary-color);
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

.navbtn {
    padding: 8px 18px;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    #greet_container {
        margin-top: 55vh;
    }

    #projects {
        margin-top: 40vh;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #greet_container {
        margin-top: 45vh;
    }

    #projects {
        margin-top: 30vh;
    }

    #honorable {
        height: 12rem;
        position: absolute;
        right: 0rem;
        top: -5rem;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    #greet_container {
        margin-top: 55vh;
    }

    #greeting {
        background-color: transparent;
        border: none;
        font-size: 14px;
    }

    #projects {
        margin-top: 15vh;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #greet_container {
        margin-top: 68vh;
    }

    #greeting {
        background-color: transparent;
        border: none;
        font-size: 14px;
    }
}

#mobile-greet {
    position: relative;
    margin-top: 50vh;
    color: var(--secondary-color);
}

.proj-img {
    max-width: 250px;
    filter: drop-shadow(10px 10px 15px rgba(66, 66, 66, 0.288));
}