@font-face {
    font-family: "GothamRounded";
    src: url('fonts/gotham-rounded/GothamRounded-Book.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GothamRounded";
    src: url('fonts/gotham-rounded/GothamRounded-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNext";
    src: url('fonts/avenir-next/AvenirNextLTPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNext";
    src: url('fonts/avenir-next/AvenirNextLTPro-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

:root {
    --primary-color: rgb(35, 82, 102);
    --secondary-color: rgb(252, 235, 211);
}

body {
    background-color: var(--secondary-color);
    overflow-x: hidden;
    font-family: GothamRounded;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .nav-item .nav-link,
.navbar-light .nav-item:hover .nav-link {
    font-family: AvenirNext;
    font-weight: bold;
    font-size: 18pt;
    color: var(--secondary-color);
}

.hvr-float {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
    transform: translateY(-5px);
}

.navbar-custom .navbar-toggler,
.navbar-custom .navbar-toggler:active,
.navbar-custom .navbar-toggler:focus,
.navbar-custom .navbar-toggler:visited {
    border: none;
    outline: none;
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(252, 235, 211, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    margin-top: -5px;
    margin-right: -10px;
}

.navbar-custom {
    background-color: var(--primary-color);
    margin-bottom: -1px;
}

.jumbotron {
    background-color: var(--primary-color);
    border-radius: 0px 0px 600px 600px;
}

#logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 75%;
    max-height: 75%;
}

#dashes {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 80%;
    max-height: 80%;

    -webkit-animation: spin 30s linear infinite;
    -moz-animation: spin 30s linear infinite;
    animation: spin 30s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

/* Extra large devices (large desktops) */
#hero {
    margin-top: 30%;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    #hero {
        margin-top: 32%;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #hero {
        margin-top: 40%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    #hero {
        margin-top: 16%;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #hero {
        margin-top: 40%;
    }
}

#greeting {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 25px;
}