body {
    background-color: white;
    overflow-x: hidden;
    font-family: GothamRounded;
}

.navbar-custom {
    background-color: var(--primary-color);
    margin-bottom: -1px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .nav-item .nav-link,
.navbar-light .nav-item:hover .nav-link {
    color: var(--secondary-color);
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(252, 235, 211, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    margin-top: -5px;
    margin-right: -10px;
}

#greeting {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 25px;
    border: none;
}

#welhome,
#crate {
    background-color: transparent;
    color: var(--primary-color);
    border: none;
}

#welhome .card-body .card-title {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 24px;
}

#crate .card-body .card-title {
    color: var(--tertiary-color);
    font-weight: bold;
    font-size: 24px;
}

.project-link,
.project-link:hover {
    color: var(--tertiary-color);
}

#lopcuk {
    position: absolute;
    width: 100vw;
    top: calc(25vh - var(--logo-offset));
    z-index: -2;
}

#projects {
    margin-top: 75vh;
}

#greet_container {
    margin-top: 55vh;
}

#cratelop {
    position: absolute;
    top: 210vh;
    width: 25vw;
    left: 75vw;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    #greet_container {
        margin-top: 55vh;
    }

    #lopcuk {
        top: calc(45vh - var(--logo-offset));
    }

    #projects {
        margin-top: 40vh;
    }

    #cratelop {
        top: 180vh;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #greet_container {
        margin-top: 45vh;
    }

    #lopcuk {
        top: calc(50vh - var(--logo-offset));
    }

    #projects {
        margin-top: 30vh;
    }

    #cratelop {
        top: 160vh;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    #greet_container {
        margin-top: 55vh;
    }

    #greeting {
        background-color: transparent;
        border: none;
        font-size: 14px;
    }

    #projects {
        margin-top: 30vh;
    }

    #cratelop {
        display: none;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #greet_container {
        margin-top: 68vh;
    }

    #greeting {
        background-color: transparent;
        border: none;
        font-size: 14px;
    }
}

#mobile-greet {
    position: relative;
    margin-top: 50vh;
    color: var(--secondary-color);
}

/* #welhomelink:hover #outline {
    stroke: var(--tertiary-color);
}

#welhomelink:hover #link {
    fill: var(--tertiary-color);
}

#welhomelink:hover #arrow {
    fill: white;
} */

