body {
  background-color: white;
  color: var(--primary-color);
  font-family: AvenirNext;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .nav-item .nav-link,
.navbar-light .nav-item:hover .nav-link {
    color: var(--primary-color);
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(35, 82, 102, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  margin-top: -5px;
  margin-right: -10px;
}

.section {
  font-size: 18pt;
  font-weight: bold;
  font-style: italic;
}

.date {
  font-size: 14pt;
  font-weight: 400;
  color: rgb(168, 168, 168);
}

.title {
  font-size: 15pt;
  font-weight: 600;
}

.subtitle {
  color: var(--fourth-color);
  font-size: 11pt;
  font-weight: 600;
  font-style: italic;
}

.details {
  font-style: italic;
}

ul {
  padding-left: 1rem;
  margin-bottom: 0px;
}

#skills {
  background-color: rgb(253, 245, 223);
  border-radius: 250px;
}

.skill-section {
  font-size: 18pt;
  font-weight: bold;
  font-style: italic;
}

.skill-title {
  font-size: 13pt;
  font-weight: 600;
  font-style: italic;
}

#skills ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 11pt;
}

@media (max-width: 767.98px) {
  #skills {
    background-color: transparent;
  }
  #mobi-skills {
    background-color: rgb(253, 245, 223);
  }
}